$button-color: #32c5d2;
// BASE BLUE
$baseBlueColor: #64b2fb;
$baseBlueColorHover: #2078de;

// BASE GREEN
$baseGreenColor: #8cc63f;
$baseGreenColorDark: #39B54A;
$baseGreenColorDarker: #006837;

// BASE GRAY
$baseGrayColor:#353b3e;
