canvas{ 
    display: block; 
    vertical-align: bottom; 
} 
 #particles-js{ 
    position:relative; 
    width: 100%;
    height: 200px;
    background-color:#353b3e;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
 }